[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
paho-mqtt = "*"
flask-cors = "*"
flask-socketio = "*"
gevent = "*"
gevent-websocket = "*"
eventlet = "*"
flask-mqtt = "*"
flask-bootstrap = "*"

[requires]
python_version = "3.8"
