[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
paho-mqtt = "*"
flask-cors = "*"
flask-socketio = "*"
gevent = "*"
gevent-websocket = "*"
eventlet = "*"
flask-mqtt = "*"
flask-bootstrap = "*"
psycopg2-binary = "*"
flask-sqlalchemy = "*"
blinker = "*"
flask-login = "*"
pyjwt = "*"
pyodbc = "*"
sqlalchemy = "*"
werkzeug = "*"

[requires]
python_version = "3.8"
